.videoEdit {
  width: 100%;
  text-align: center;
}
.video-container iframe {
  margin: 0 auto;
  display: block;
}
@media only screen and (max-width: 600px) {
  iframe {
    width: 100%;
    height: auto;
  }
}
@media only screen and (max-width: 600px) {
  h1 {
    width: 100%;
    height: auto;
    font-size: 2rem !important;
    /* white-space: nowrap; */
  }
}
